* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    transition: 0.2s;
}

body {
    font-family: 'Montserrat', sans-serif;
}
.flag-img {
    width: 50px;
    height: auto;
    margin-bottom: 20px;
}
footer {
    padding: 50px 30px;
    text-align: center;
    background: #f1f1f1;
}
