* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    transition: 0.2s;
}

body {
    font-family: 'Montserrat', sans-serif;
}
header {
    background: #2980b9;
    padding: 100px 0;
    text-align: center;
    color: #fff;
}

header h1 {
    font-size: 60px;
}

header p {
    font-size: 18px;
    font-weight: 300;
    margin-top: 30px;
}
.flag-img {
    width: 50px;
    height: auto;
    margin-bottom: 20px;
}
footer {
    padding: 50px 30px;
    text-align: center;
    background: #f1f1f1;
}
